.form form {
  max-width: 500px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input,
.form textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.form button:hover {
  background: #444;
}